.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: #717070;
  margin-top: 20px;
}

.App-link {
  color: #b9a5e4;
}


.title-name {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.click-btn {
  font-size: 18px;
  padding: 20px 40px;
  width: 150px;
  color: #fff;
  background: #b9a5e4;
  border-radius: 20px;
}
