
.title-name {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.layout {
  display: flex;
  justify-content: space-around;
}

.item {
  width: 300px;
  border: 1px solid#dedede;
  margin: 30px 10px 10px 10px;
  background: #fff;
}

.search-bar {
    width: 200px;
    padding: 10px;
    outline:0;
    border: 1px solid #f3e4e9;
    box-shadow: 2px 2px 2px 1px #dacfd2;
    background: #ffffff;
}