
.title-name {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.search-bar {
    width: 200px;
    padding: 20px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: #717070;
    outline:0;
    border: 1px solid #f3e4e9;
    box-shadow: 2px 2px 2px 1px #dacfd2;
    background: #ffffff;
}

.layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



